<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <!--数据库链接-->
    <add key="ConnectionString" value="server=localhost,1962;Database=Daoji;User ID=Daoji;Password=136209;pooling=false"/>
    <!--<add key="ConnectionString" value="server=localhost,1962;Database=Daoji;User ID=Daoji;Password=136209;pooling=false"/>-->
    <!--判断就餐策略-->
    <add  key="EatStrategy" value="早餐|午餐|晚餐"/>
    <add key="早餐" value="00:00:00|23:59:59"/>
    <add key="午餐" value="00:00:00|23:59:59"/>
    <add key="晚餐" value="00:00:00|23:59:59"/>
  </appSettings>
</configuration>
